# MONGODB_URI: Connection string for MongoDB
MONGODB_URI="mongodb+srv://username:password@cluster.mongodb.net/gatherly"

# JWT_SECRET: Secret for JWT token generation
JWT_SECRET="your_jwt_secret_here"

# FRONTEND_URL: The URL of the deployed frontend.
FRONTEND_URL="http://localhost:5173"

# PORT: Backend listen port.
PORT="3000"
